<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Oops Error
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
      <li class="active">Oops Error</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-red"> Error&nbsp;</h2>

      <br/>
      <div class="error-content">
        <h3><i class="fa fa-warning text-red"></i> <? echo $version; ?> 不支持此功能</h3>

        <p>
          如果您需要,可以联系客服升级您的版本<br/>您可以<a href="index.php">返回控制台</a>或者点击导航,选择别的功能
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->
</div>