<link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            方案管理<small>自动拖管理</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 控制台</a></li>
            <li><a href="#"> 自动拖管理</a></li>
            <li class="active">方案管理</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">方案管理</h3>

                <div class="box-tools pull-right">
                    <button class="btn btn-primary btn-sm" onclick="$('#modal').modal('toggle');">添加方案</button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>方案ID</th>
                            <th>方案内容</th>
                            <th>所属游戏</th>
                            <th>添加时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    <?
                        select_query('fn_robotplan','*',"roomid = {$_SESSION['agent_room']}");
                        while($con = db_fetch_array()){
                            switch($con['game']){
                                case 'pk10': $game = '北京赛车'; break;
                                case 'xyft': $game = '幸运飞艇'; break;
                                case 'cqssc': $game = '重庆时时彩'; break;
                                case 'xy28': $game = '幸运28'; break;
                                case 'jnd28': $game = '加拿大28'; break;
                                case 'jsmt': $game = '极速摩托'; break;
                                case 'jssc': $game = '极速赛车'; break;
                                case 'jsssc': $game = '极速时时彩'; break;
                            }
                    ?>

                        <tr>
                            <td><? echo $con['id']; ?></td>
                            <td><? echo $con['content']; ?></td>
                            <td><? echo $game; ?></td>
                            <td><? echo $con['addtime']; ?></td>
                            <td><a href="javascript:delplan('<? echo $con['id']; ?>')" class="btn btn-danger btn-sm">删除方案</a></td>
                        </tr>
                        
                    <?
                        }
                    ?>
                    </tbody>
                </table>
            </div>
            <div class="overlay" id="loading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<div class="modal modal-default fade" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">添加方案</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-info"></i> 添加教学</h4>
                    {随机名次}为:1~10名随机一个。
                    <br/> {随机特码}为1~10号特码随机一个。
                    <br/> {随机双面}为大、小、单、双随机一个。
                    <br/> {随机龙虎}为龙、虎随机一个（使用此变量，必须固定名次！例：12345/{随机龙虎}/100）。
                    <br/> {随机极值}为极大、极小随机一个。
                    <br/> {随机组合1}为大单、大双随机一个。
                    <br/> {随机组合2}为小单、小双随机一个。
                    <br/> {随机数字}为0~27随机一个(PC28专用)。
                    <br/> {随机特殊}为豹子、对子、顺子随机一个(PC28专用)。
                    <br/> {随机和值}为3~19号 随机一个<br/> {随机金额1}为投注的金额，没有办法控制金额范围。系统默认范围为：20~300。（不推荐使用）
                    <br/> {随机金额2}为投注的金额，没有办法控制金额范围。系统默认范围为：300~1000。（不推荐使用）
                    <br/> {随机金额3}为投注的金额，没有办法控制金额范围。系统默认范围为：1000~3000。（不推荐使用）
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">所属游戏</span>
                            <select id="game" class="form-control">
                                <option value="pk10">北京赛车</option>
                                <option value="xyft">幸运飞艇</option>
                                <option value="xy28">幸运28</option>
                                <option value="jnd28">加拿大28</option>
                                <option value="cqssc">重庆时时彩</option>
                                <option value="jsmt">极速摩托</option>
                                <option value="jssc">极速赛车</option>
                                <option value="jsssc">极速时时彩</option>
                            </select>
                        </div>
                        <br/>
                        <label id="labelerr" style="color: red;display:none;">添加成功..刷新页面后即可显示..</label>
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon">方案内容</span>
                            <input id="plantext" type="text" class="form-control" style="width:97%" placeholder="例: {随机特码}/100 得 3/100 或 4/100">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                <button type="button" onclick="addplan()" class="btn btn-primary">添加方案</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="plugins/datatables/jquery.dataTables.min.js"></script>
<script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $('.table').dataTable({});
    $('#loading').remove();
    function addplan(){
        var game = $('#game option:selected').val();
        var plan = $('#plantext').val();

        if(plan == ""){
            alert("方案内容不得为空..");
            return;
        }

        $.ajax({
            url: 'Application/ajax_addrobot.php?t=addplan',
            type: 'post',
            data: {game: game, plan: plan},
            dataType: 'json',
            success:function(data){
                if(data.success){
                    $('#labelerr').fadeIn(1500);
                    setTimeout(function() {
                        $('#labelerr').fadeOut(1500);
                    }, 3000);
                    $('#plantext').val('');
                }else{
                    alert(data.msg);
                }
            },
            error: function( ){ }
        });
    }

    function delplan(id){

        if(!confirm('确认删除该条方案吗?该操作一旦执行将无法恢复..')){
            return;
        }
        $.ajax({
            url: 'Application/ajax_addrobot.php?t=delplan',
            type: 'post',
            data: {id: id},
            dataType: 'json',
            success:function(data){
                if(data.success){
                    alert('删除方案成功..');
                    window.location.reload();
                }else{
                    alert(data.msg);
                }
            },
            error: function( ){ }
        });
    }
</script>